.Reg-container{
    height: 100vh;
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
}
.Reg-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 4rem;
    margin-top: 71px;
    gap:20px;
    align-items: center;
}
.imgLogin{
    width: 30rem;
}
.Reg-title{
    font-size:1.5rem;
}
@media (max-width:769px){
    .Reg-content{
        max-width: 100%;
    }
    .imgLogin{
        width: 100%;
        height: auto;
    }
}