.ss_container{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    
}
.ss_content{
    background-color: white;
    padding: 2rem;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.seat_show{
    width: 100%;
}
.ss_detail1{
    display: flex;
    justify-content:space-between;
}
.ss_txt_detail1{
    font-size:1.3rem;
}
.ss_pps_txt{
    font-size:1.1rem;
}
.ss_pps{
    margin-bottom:1rem;
}
.ss_btn{
    width:100%;
    padding:10px 20px;
    margin-top:1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,.1);
}
.ss_btn:hover{
    scale: 1.05;
    transition: 0.44s;
}
@media (max-width:640px){
    .ss_container{
        height: 100vh;
        justify-content: space-between;
    }
    .seat_show{
        margin-top: 4rem;
        width: 100%;
    }
}
@media (min-width: 641px) and (max-width:1007px) {
    .ss_container{
        margin-top:110px;
        justify-content:space-around;
        flex-direction: row;
        background-color: white;
        
    }
    .ss_txt_detail1{
        font-size:1.2rem;
    }
    .ss_pps_txt{
        font-size:1.0rem;
    }
    .ss_content{
        width: 50%;
        margin-top: 2rem;
        margin-right: 2rem;
    }
    .seat_show{
        width: 50%;
    }
}
@media (min-width:1008px){
    .ss_container{
        margin-top:110px;
        justify-content:space-around;
        flex-direction: row;
        background-color: white;
        width: 60%;
        margin: 0 auto;
        margin-top:4rem;
    }
    .ss_txt_detail1{
        font-size:1.2rem;
    }
    .ss_pps_txt{
        font-size:1.0rem;
    }
    .ss_content{
        width: 50%;
        
        margin-top: 2rem;
        margin-right: 2rem;
    }
    .seat_show{
        width: 50%;
    }
}